body{
    background-color: #151515;

}

.myname{
    color: #4ade80;
    font-style: italic;
    font-size: 30px;
}

a{
    font-size: 16px;
    text-decoration: none;
    padding: 20px;
    color: #d1d5db;
    font: medium;
    cursor: pointer;
    
}

main{
    color: #ffffff;

}

button{
    border-radius: 6px;
    border-color: #4ade80;
    border-width: 2px;
    background-color: #151515;
    color: #ffffff;
    
}

img{
    border-radius: 50%;
    
}

